# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.tlog
*.obj
*.idb
*.pdb
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.ldf
*.mdf
*.lastbuildstate
*.ilk
*.ipch
*.dll
*.exe
*.lib
*.exp
*.log
*.pch